*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

/* general style */

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
}

/* navbar */

.nav-top {
    background-color: #0084FD;
    height: 4.7rem;
}

.nav-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-top ul{
    display: none;
}

.nav-top .hamburger{
    font-size: 1.5rem;
    color: white;
}

/* main */

/* first section */

.container.first-section{
    margin-bottom: 5rem;
}

.top-container{
    background-color: rgb(181, 221, 255);
    border-radius: 1rem;
    padding: 1.8rem 1.8rem 0 2rem;
    margin: 1.5rem 0;
}

.top-container h2{
    font-size: 22px;
    color: #0084FD;
}

.top-container-text{
    padding: 2rem 0;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 700;
    color: rgb(90, 110, 127)
}

.phone img{
    width: 242px;
    display: block;
}

.btn.btn-apple{
    background-color: #0084FD;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
    padding: 0.7rem 3rem;
    margin-bottom: 2rem;
}

.top-container.text-center{
    text-align: center;
}

.icon{
    padding-bottom: 1.7rem;
    font-size: 80px;
    color: #0084FD;
}

/* second section */

.purple{
    background-color: rgb(151, 146, 228);
    padding: 3rem 0 2rem 0;
}
.container .planning1, .planning2{
    width: 90%;
}

.strategic-planning{
    color: white;
}

.strategic-planning h2{
    font-size: 27px;
    margin: 4rem 0 2rem;
}

.strategic-planning p{
    font-size: 15px;
    line-height: 2em;
}

.top-container.mid-section{
    padding: 2rem 1rem;
    background-color: white;
    border-radius: 3em;
    text-align: center;
    color: black;
}

.mid-section h3{
    font-weight: 700;
    font-size: 23px;
    margin-top: 1rem;
}

.mid-section p{
    color: black;
    font-style: italic;
    font-weight: 400;
    padding: 1.5rem 0 2rem 0;
    font-size: 16px;
    line-height: 1.8em;
}

.btn-arrow{
    background-color: rgb(151, 146, 228);
    padding: 1.2rem 1.3rem;
    border-radius: 10em;
}

/* media query */

@media screen and (min-width: 811px) {
    .nav-top ul{
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
    }
    
    .nav-top li{
        display: flex;
        align-items: center;
        height: 100%;
        
    }
    
    .nav-top .nav-link{
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: white;
        padding: 0 1rem;
    }
    
    .nav-top .nav-link:visited{
        color: white;
    }
    
    .nav-top .nav-link:hover{
        text-decoration: underline;
    }
    
    .nav-top .btn{
        background-color: white;
        padding: .5rem;
        color: black;
        text-decoration: none;
    }
    
    .nav-top .btn:hover{
        background-color: lightgrey;
    }

    .hamburger {
        display: none;
    }
}

